:root{
    --background: black;
    --main: #38ABEC;
    --secondary1: #53c0ff;
    --secondary2: rgb(166, 166, 166);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: sans-serif;
    transition: all ease .3s;
}

body{
    min-height: 100%;
}

.main-container{
    background: var(--background);
    width: 100%;
    min-height: 100%;
}

header{
    background: var(--main);
}
